.card {
  display: flex;
  border: 4px solid gray;
}

.left-side {
  flex: 1; /* Ocupa 1/3 del ancho total */
}

.right-side {
  flex: 2; /* Ocupa 2/3 del ancho total */
  padding: 2rem 2rem;
}

.profile-pic {
  height: 100%;
  width: -webkit-fill-available;
}

.name {
  text-transform: uppercase; /* Convertir el texto en mayúsculas */
  font-family: "Lato"; /* Establecer la fuente "Lato" como fuente principal */
  font-size: xxx-large;
}

.role {
  font-size: xx-large;
}

.member-since {
  font-size: large;
}

.member-id {
  font-size: xx-large;
  font-weight: bold;
  color: #fd7d23;
}

.community-name {
  font-family: "Lato";
  font-size: xx-large;
}

.qr-code {
  width: 30%;
}
