<section
  id="historia"
  class="flex flex-col gap-8 text-white max-w-[1200px] self-center sm:min-h-screen justify-center w-full sm:pt-[64px]"
>
  <span class="flex flex-col gap-1">
    <h2 class="text-3xl sm:text-4xl font-bold text-center">
      ¿Qué es Open Web Uruguay?
    </h2>
    <h3 class="text-center text-zinc-400">Nuestra Historia</h3>
  </span>
  <span class="grid md:grid-cols-2 place-items-center">
    <div class="flex flex-col gap-4 w-full">
      <p>
        <b>OWU</b>
        <span class="text-yellow-400">(Open Web Uruguay)</span> es una de las principales
        comunidades de desarrolladores en Uruguay. Originada como una organización
        de Slack para facilitar la organización de la JSConfUY 2014.
      </p>
      <p>
        OWU se ha popularizado abarcando actualmente diversas subcomunidades,
        entre las que se incluyen la comunidad de Ruby, JavaScript, Angular,
        Node, React, testing, devops, data y otras.
      </p>
      <p>
        Esta comunidad ha evolucionado de manera orgánica y en la actualidad
        cuenta con una robusta membresía de más de 3.400 personas, de las cuales
        más de 500 participan activamente a diario.
      </p>
      <p>
        A través de la comunidad se promueve la organización de meetups y
        eventos relacionados con el desarrollo de software. Brindando además una
        vía a través de la que profesionales del sector buscan y brindan ayuda,
        comparten noticias, propuestas de trabajo, opiniones y todo ello en un
        entorno de interacción continua y de autogestión.
      </p>
    </div>
    <img
      loading="lazy"
      src="/svg/logo-carpincho.png"
      alt="ilustración de un carpincho"
      class="min-w-[300px] w-full max-w-[400px] object-contain"
    />
  </span>
</section>
