<nav
  class="bg-[#000214] w-full fixed z-10 flex flex-row justify-center items-center"
>
  <div class="max-w-[1200px] px-4 sm:px-6 lg:px-8 w-full">
    <div class="flex items-center justify-between h-16">
      <a href="/">
        <h1
          class="text-sm xl:text-base font-semibold uppercase text-yellow-400 min-w-[130px] lg:min-w-[150px]"
        >
          Open Web Uruguay
        </h1>
      </a>

      <div class="block md:hidden">
        <button
          id="mobile-menu-toggle"
          aria-label="button"
          class="text-white p-2 focus:outline-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>

      <div
        class="hidden md:flex flex-row gap-3 text-xs lg:text-sm xl:text-base text-white text-center"
      >
        <a href="#inicio" class="hover:text-yellow-400">Inicio</a>
        <a href="#historia" class="hover:text-yellow-400">Historia</a>
        <a href="#estadisticas" class="hover:text-yellow-400">Estadísticas</a>
        <a href="#eventos" class="hover:text-yellow-400">Eventos</a>
        <a href="/la-meetup" class="hover:text-yellow-400">La Meetup 2023</a>
      </div>
    </div>

    <!--
      <div class="hidden md:flex gap-2.5 min-w-none lg:min-w-[150px] justify-end">
        <a href={socialNetworks.linkedin} target="_blank">
            <img src="/svg/logos/linkedin.svg" class="lg:h-[22px] lg:w-[22px] cursor-pointer" loading="lazy"/>
        </a>
        <a href={socialNetworks.instagram} target="_blank">
          <img src="/svg/logos/instagram.svg" class="lg:h-[22px] lg:w-[22px] cursor-pointer" loading="lazy"/>
        </a>
        <a href={socialNetworks.meetup} target="_blank">
          <img src="/svg/logos/meetup.svg" class="lg:h-[22px] lg:w-[22px] cursor-pointer" loading="lazy"/>
        </a>
      </div>
      -->
  </div>
</nav>

<div
  id="mobile-menu"
  class="hidden fixed md:hidden bg-[#000214] text-white z-10 mt-[64px] w-full px-4 sm:px-6 lg:px-8"
>
  <div class="py-2 w-full">
    <a href="#inicio" class="mobile-menu-link block py-2 hover:text-yellow-400"
      >Inicio</a
    >
    <a
      href="#historia"
      class="mobile-menu-link block py-2 hover:text-yellow-400">Historia</a
    >
    <a
      href="#estadisticas"
      class="mobile-menu-link block py-2 hover:text-yellow-400">Estadísticas</a
    >
    <a href="#eventos" class="mobile-menu-link block py-2 hover:text-yellow-400"
      >Eventos</a
    >
    <a
      href="/la-meetup"
      class="mobile-menu-link block py-2 hover:text-yellow-400"
      >La Meetup 2023</a
    >
  </div>
</div>

<script>
  const mobileMenuToggle = document.getElementById("mobile-menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const mobileMenuLinks = document.querySelectorAll(".mobile-menu-link");

  if (mobileMenuToggle && mobileMenu) {
    mobileMenuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
    mobileMenuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        mobileMenu.classList.add("hidden");
      });
    });
    document.body.addEventListener("click", (event) => {
      if (
        !mobileMenu.contains(event.target) &&
        !mobileMenuToggle.contains(event.target)
      ) {
        mobileMenu.classList.add("hidden");
      }
    });
  }
</script>
