---
import Counter from "./Counter.astro";
import stats from "content/stats.json";
---

<section
  id="estadisticas"
  class="flex flex-col gap-12 sm:min-h-screen justify-center items-center sm:pt-[64px]"
>
  <span class="flex flex-col gap-1">
    <h2 class="text-white text-4xl font-semibold text-center">
      Nuestra comunidad en cifras
    </h2>
    <h3 class="text-center text-zinc-400">
      Creciendo juntos, nuestra comunidad en números
    </h3>
  </span>
  <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
    {
      stats.map(({ count, title, subtitle }) => {
        return <Counter count={count} title={title} subtitle={subtitle} />;
      })
    }
  </div>
  <img
    src="/svg/community.svg"
    alt="Ilustración de un carpincho"
    class="min-w-[280px] w-full max-w-[500px] object-contain self-center"
  />
</section>
