---
---

<button
  type="button"
  class="text-white bg-[#4A154B] hover:bg-[#4A154B]/80 focus:ring-4 focus:outline-none focus:ring-[#4A154B]/50 font-medium rounded-lg text-sm px-5 dark:hover:bg-[#4A154B]/80 dark:focus:ring-[#4A154B]/40"
>
  <a
    href="https://join.slack.com/t/owu/shared_invite/zt-1qx788i8j-Z8iYfDY1S5n4~WKuzP7AVQ"
    rel="noopener noreferrer"
    class="text-center inline-flex items-center py-2.5"
  >
    <img
      class="w-9 h-9 mr-2 -ml-1"
      src="/svg/slack-icon.svg"
      alt="slack icon"
    />
    <span class="text-lg"> Únete a la comunidad</span>
  </a>
</button>
