<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./styles.css" rel="stylesheet" />
    <link href="./coutdown_blank.css" rel="stylesheet" />
  </head>
  <body>
    <div class="countdown" id="js-countdown">
      <div class="countdown__item countdown__item--large">
        <div
          class="countdown__timer js-countdown-days"
          aria-labelledby="day-countdown"
        ></div>

        <div class="countdown__label" id="day-countdown">Days</div>
      </div>

      <div class="countdown__item">
        <div
          class="countdown__timer js-countdown-hours"
          aria-labelledby="hour-countdown"
        ></div>

        <div class="countdown__label" id="hour-countdown">Hours</div>
      </div>

      <div class="countdown__item">
        <div
          class="countdown__timer js-countdown-minutes"
          aria-labelledby="minute-countdown"
        ></div>

        <div class="countdown__label" id="minute-countdown">Minutes</div>
      </div>

      <div class="countdown__item">
        <div
          class="countdown__timer js-countdown-seconds"
          aria-labelledby="second-countdown"
        ></div>

        <div class="countdown__label" id="second-countdown">Seconds</div>
      </div>
    </div>
    <div class="wrapper">
      <div class="time-part-wrapper">
        <div class="time-part minutes tens">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
        <div class="time-part minutes ones">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">9</span>
            <span class="digit">8</span>
            <span class="digit">7</span>
            <span class="digit">6</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
      </div>
      <div class="time-part-wrapper">
        <div class="time-part seconds tens">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
        <div class="time-part seconds ones">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">9</span>
            <span class="digit">8</span>
            <span class="digit">7</span>
            <span class="digit">6</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
      </div>
      <div class="time-part-wrapper">
        <div class="time-part hundredths tens">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">9</span>
            <span class="digit">8</span>
            <span class="digit">7</span>
            <span class="digit">6</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
        <div class="time-part hundredths ones">
          <div class="digit-wrapper">
            <span class="digit">0</span>
            <span class="digit">9</span>
            <span class="digit">8</span>
            <span class="digit">7</span>
            <span class="digit">6</span>
            <span class="digit">5</span>
            <span class="digit">4</span>
            <span class="digit">3</span>
            <span class="digit">2</span>
            <span class="digit">1</span>
            <span class="digit">0</span>
          </div>
        </div>
      </div>
    </div>
    <script src="./coutdown_blank.js"></script>
  </body>
</html>
