---
import Layout from "layouts/la-meetup/Layout.astro";
import Hero from "components/la-meetup/Hero.astro";
import Agenda from "components/la-meetup/Agenda.astro";
import Speakers from "components/la-meetup/Speakers.astro";
import Starfield from "components/la-meetup/Starfield.astro";
import Navbar from "components/la-meetup/Navbar.astro";
import Ticket from "components/la-meetup/Ticket.astro";
import Sponsors from "components/la-meetup/Sponsors.astro";
import CodigoDeConducta from "components/la-meetup/CodigoDeConducta.astro";
import Footer from "components/shared/Footer.astro";
import TeamOrganization from "components/la-meetup/TeamOrganization.astro";
import ComingSoon from "components/la-meetup/ComingSoon.astro";
import OpenSpace from "components/la-meetup/OpenSpace.astro";
import AlliedCommunities from "components/la-meetup/AlliedCommunities.astro";
---

<Layout>
  <main class="flex min-h-[100dvh] flex-col items-center justify-between flex-1">
    <Starfield />
    <Navbar />
    <Hero />
    <Agenda />
    <Speakers />
    -->
    <ComingSoon />
    <OpenSpace />
    <Sponsors />
    <!--
  <Ticket />
   -->
    <AlliedCommunities />
    <TeamOrganization />
    <CodigoDeConducta />
    <Footer />
  </main>
</Layout>
<style>
  html {
    scroll-behavior: smooth;
    background: #000214;
  }
</style>
