<!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>La Meetup | OWU | 2023</title>
      <meta name="description" content="Únete a nuestra comunidad de desarrolladores.">
      <meta name="keywords" content="meetup, programación, montevideo, uruguay, desarrollo, eventos">
      <meta name="author" content="Open Web Uruguay">
      <meta name="robots" content="index, follow">

      <meta property="og:title" content="La Meetup">
      <meta property="og:description" content="Únete a nuestra comunidad de desarrolladores.">
      <meta property="og:image" content="URL de la imagen en miniatura">
      <meta property="og:url" content="URL de la página">
      <meta property="og:type" content="website">

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="La Meetup">
      <meta name="twitter:description" content="Únete a nuestra comunidad de desarrolladores.">
      <meta name="twitter:image" content="URL de la imagen en miniatura para X">
      <meta name="twitter:site" content="@OpenWebUruguay">
    </head>
    <body>
        <slot />
    </body>
  </html>
</DOCTYPE>
