---
import Layout from "../layouts/Layout.astro";
import ButtonSlack from "../components/ButtonSlack.astro";
---

<Layout title="Open Web Uruguay">
  <main>
    <section>
      <h2 class="my-8 text-2xl font-semibold text-gray-700 text-center">
        Únete a la comunidad de desarrolladores de Uruguay
      </h2>
      <div class="text-center">
        <ButtonSlack />
      </div>
    </section>
  </main>
</Layout>

<style></style>
