---
import Layout from "../layouts/Layout.astro";
import ButtonSlack from "../components/ButtonSlack.astro";
---

<Layout title="Open Web Uruguay">
  <main>
    <header></header>
    <main>
      <ButtonSlack />
    </main>
  </main>
</Layout>

<style></style>
