<section class="flex flex-col justify-center w-full max-w-[1200px]">
  <h1 class="my-8 text-4xl font-semibold text-gray-700 text-center">
    Que es OWU?
  </h1>
  <div class="text-center">
    <p class="text-base font-[400] mb-8 mt-1.5 px-6">
      OWU (Open Web Uruguay) es una de las principales comunidades de
      desarrolladores en Uruguay. Originada como una organización de Slack para
      facilitar la organización de la JSConfUY 2014, OWU se ha popularizado
      abarcando actualmente diversas subcomunidades, entre las que se incluyen
      la comunidad de Ruby, JavaScript, Angular, Node, React, testing, devops,
      data y otras. Esta comunidad ha evolucionado de manera orgánica y en la
      actualidad cuenta con una robusta membresía de más de 3,400 personas, de
      las cuales más de 500 participan activamente a diario.
    </p>
    <p class="text-base font-[400] mb-8 mt-1.5 px-6">
      A través de OWU se promueve la organización de meetups y eventos
      relacionados con el desarrollo de software, brindando además una vía a
      través de la que profesionales del sector buscan y brindan ayuda,
      comparten noticias, propuestas de trabajo y opiniones, todo ello en un
      entorno de interacción continua y autogestión.
    </p>
  </div>
</section>
