@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

body {
  background-image: url("https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.countdown-text {
  text-align: center;
}

.content {
  width: 100%;
  background-color: rgba(240, 248, 255, 0.46);
}
.countdown {
  display: flex;
  justify-content: center;
  width: 100%;
}

.One,
.Two,
.Three,
.Four {
  padding: 2%;
}

.One h1,
.Two h1,
.Three h1,
.Four h1 {
  font-size: 90px;
}

.One h2,
.Two h2,
.Three h2,
.Four h2 {
  font-size: xx-large;
}

footer {
  text-align: center;
  margin: 12% 0 0;
}

@media screen and (max-width: 1700px) {
  body {
    background-size: 110%;
  }
}

@media screen and (max-width: 1450px) {
  body {
    background-size: 140%;
  }
}

@media screen and (max-width: 1150px) {
  body {
    background-size: 170%;
  }
}

@media screen and (max-width: 950px) {
  body {
    background-size: 250%;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-size: 300%;
  }
}

@media screen and (max-width: 550px) {
  body {
    background-size: 350%;
  }

  header,
  .countdown {
    font-size: large;
  }

  header {
    margin: 50% 0 0;
  }

  .One h1,
  .Two h1,
  .Three h1,
  .Four h1 {
    font-size: 60px;
    transform: translateX(20%);
  }

  .One h2,
  .Two h2,
  .Three h2,
  .Four h2 {
    transform: translateX(20%);
    font-size: large;
  }
}

@media screen and (max-width: 460px) {
  body {
    background-size: 500%;
  }
}

@media screen and (max-width: 350px) {
  body {
    background-size: 700%;
  }

  .One h1,
  .Two h1,
  .Three h1,
  .Four h1 {
    font-size: 50px;
  }
}
