---
import Coutdown from "../components/coutdown.astro";
---

<div class="flex justify-center">
  <div>
    <img src="/svg/logo-carpincho.png" />
  </div>
  <div>
    <h1 class="text-8xl">Meetup De Meetup</h1>
    <h2 class="text-2xl">Todas las comunidades de Uruguay unidas</h2>
    <Coutdown />
  </div>
</div>

<h2>25.11.2023</h2>
<h2>Sinergia faro</h2>

<!--
    <h2>First Edition!</h2> buscar la forma de agregar first edition
 -->
