<div>
  <h1 class="inline-flex items-center gap-4 h-20">
    <img class="w-12 h-12" src="/svg/owu-icon.svg" alt="open web uruguay icon" />
    <p class="mb-1 text-2xl font-semibold text-gray-700">Open Web Uruguay</p>
  </h1>
</div>
