---
import Logo from "components/Logo.astro";
import Menu from "components/Menu.astro";
---

<nav class="bg-white shadow-md border-gray-200 dark:bg-gray-900 px-4">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <Logo />
    </a>
    <Menu />
  </div>
</nav>
