<section id="codigo-conducta" class="flex flex-col gap-4 items-center justify-center flex-1 relative w-full max-w-[1200px] min-h-screen pt-[64px] px-5 sm:px-0">
  <span>
    <h2 class="text-4xl font-bold text-yellow-400 text-center">
      Codigo de Conducta
    </h2>
    <p class="text-base font-[400] text-white mb-8 mt-1.5">
      Te presentamos el Código de Conducta de la #MeetupDeMeetups
    </p>
  </span>
  <div class="text-white flex flex-col gap-2 max-w-[600px]">
    <p>
      En nuestra meetup, estamos comprometidos a proporcionar un entorno
      amigable, respetuoso e inclusivo para todas las personas,
      independientemente de su género, identidad de género y expresión,
      orientación sexual, discapacidad, apariencia física, tamaño corporal,
      raza, edad o religión.
    </p>
    <p>
      Esperamos que todos los participantes sigan estos principios y traten
      a los demás con respeto y cortesía.
    </p>
    <h2 class="text-lg font-semibold mb-2">
      Comportamientos inaceptables:
    </h2>
    <ul class="list-disc pl-6 mb-4">
      <li>
        Comentarios ofensivos o despectivos, chistes y lenguaje inapropiado.
      </li>
      <li>Acoso, intimidación o comportamiento discriminatorio.</li>
      <li>
        Publicación de información personal de otros sin su consentimiento.
      </li>
      <li>Spam o promoción no deseada.</li>
      <li>
        Cualquier otra conducta que sea perjudicial para el ambiente de la
        meetup.
      </li>
    </ul>
    <h2 class="text-lg font-semibold mb-2">
      Consecuencias de comportamientos inaceptables:
    </h2>
    <p class="mb-4">
      Los organizadores de la meetup se reservan el derecho de tomar medidas
      disciplinarias apropiadas en respuesta a comportamientos inaceptables.
      Esto puede incluir advertencias, expulsión de la meetup o prohibición
      de futuras participaciones.
    </p>
    <p class="mb-4">
      Al participar en esta meetup, aceptas seguir este código de conducta y
      las decisiones de los organizadores.
    </p>
    <p>
      Este código de conducta se aplica a todos los eventos y canales
      relacionados con la meetup.
    </p>
  </div>
</section>
