---
---

<section
  id="agenda"
  class="flex justify-evenly flex-col gap-4 flex-1 relative w-full max-w-[1200px] min-h-screen pt-[64px] px-5 sm:px-0"
>
  <h1 class="text-5xl font-bold text-yellow-400 text-center">
    Speakers
  </h1>
  <div class="flex-grow justify-center flex h-full">
    <h2
      class="flex items-center flex-col text-primary self-center text-6xl xl:text-[80px] leading-none text-center font-black uppercase italic -rotate-[10deg] mb-12 text-white"
    >
      <img src="/svg/logo-carpincho.png" class="max-w-[60%]" />
      <span class="text-6xl lg:text-8xl xl:text-9xl block uppercase"></span>
      Coming soon
    </h2>
  </div>
</section>
