<section
  id="open-space"
  class="flex flex-col space-y-6 text-white max-w-[600px] w-full sm:pt-[64px] px-5 sm:px-0"
>
  <h2 class="text-3xl sm:text-4xl font-bold mb-8 text-yellow-400">
    ¿Qué es un Open Space?
  </h2>
  <div>
    <p>
      Un Open Space es un formato de conferencia o reunión abierta, donde la
      principal característica es que la agenda se genera de manera dinámica
      entre todos los participantes de la reunión. En general constan de 4
      partes: <strong>Apertura</strong>, <strong>Mercado de ideas</strong>,
      <strong>Sesiones</strong> y <strong>Clausura</strong>.
    </p>
  </div>

  <div class="grid sm:grid-cols-4 grid-cols-1 gap-4">
    <div class="col-span-2">
      <h3 class="font-bold text-yellow-400">1. Apertura</h3>
      <p>
        Un facilitador explica la estructura y mecánica del Open Space. En este
        momento la agenda del evento está vacía!
      </p>
    </div>

    <div class="col-span-2">
      <h3 class="font-bold text-yellow-400">2. Mercado de ideas</h3>
      <p>
        Luego cada participante que desee proponer un tema tiene un máximo de 2
        minutos para contarle al resto sobre lo que desea hablar o escuchar. Al
        finalizar se tendrá la agenda completa de donde los participantes
        seleccionarán los temas de su interés.
      </p>
    </div>

    <div class="col-span-2">
      <h3 class="font-bold text-yellow-400">3. Sesiones</h3>
      <p>
        Conversaciones del tópico seleccionado, los participantes se
        auto-organizan en los lugares predefinidos.
      </p>
    </div>

    <div class="col-span-2">
      <h3 class="font-bold text-yellow-400">4. Clausura</h3>
      <p>
        Luego de finalizar todas las sesiones y con ayuda del facilitador, los
        participantes se reúnen nuevamente para realizar el cierre del evento.
      </p>
    </div>
  </div>

  <div>
    <h2 class="font-bold text-yellow-400">¿Cómo puedo participar?</h2>
    <h3>En un Open Space hay lugar para cualquier tipo de sesión.</h3>
  </div>

  <div>
    <h2 class="text-yellow-400">Sesión del tipo "yo presento"</h2>
    <p>
      Tengo un tema sobre el que (creo que) sé y quiero transmitir ese
      conocimiento. Puede ser una presentación tipo PPT, un workshop con una
      laptop por persona, lo que me plazca. Una variante poco usada es "quiero
      aprender sobre", en la que alguien pasa al centro y pregunta "¿Alguien me
      puede explicar cómo funciona la fisión nuclear?". Si nadie sabe del tema,
      simplemente no ocurre la sesión. O mejor aún, nos juntamos a googlear.
    </p>
  </div>

  <div>
    <h2 class="text-yellow-400">Sesión del tipo "discutamos"</h2>
    <p>
      Considero que este es un tema abierto, sobre el que me gustaría que
      simplemente charlemos. Esta es la típica sesión que se termina haciendo
      con un círculo de sillas y es la más asociada a un open space. Una posible
      variante es la sesión "de trabajo", en la cual esperamos tener un cierto
      output. Por ejemplo "planifiquemos cómo festejar si Filipinas gana el
      mundial".
    </p>
  </div>
</section>