<section id="tickets" class="flex flex-col gap-4 items-center justify-center flex-1 relative w-full max-w-[1200px] min-h-screen pt-[64px] px-5 sm:px-0">
  <span>
    <h2 class="text-5xl font-bold text-yellow-400 text-center">
      Tickets
    </h2>
    <p class="text-lg font-[400] text-white mb-8 mt-2 text-center">
      ¿Qué estás esperando? Generar tu ticket está al alcance de un click
    </p>
  </span>
  <div class="bg-black relative flex flex-col gap-12 flex-1 max-w-[600px] min-h-[300px] max-h-[300px] border-gray-500 border-[1px] w-full rounded-md p-8 justify-center">
    <button class="hover:scale-105 animate-pulse hover:animate-none py-2 bg-yellow-400 rounded-sm w-[220px] font-bold text-lg self-center">
    ¡Generar mi Ticket!
    </button>
  </div>
</section>
