<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Web Uruguay | Comunidad TI de Uruguay</title>
    <meta
      name="description"
      content="Únete a nuestra comunidad de desarrolladores."
    />
    <meta
      name="keywords"
      content="comunidad, programación, montevideo, uruguay, desarrollo, meetup"
    />
    <meta name="author" content="Open Web Uruguay" />
    <meta name="robots" content="index, follow" />

    <meta
      property="og:title"
      content="Open Web Uruguay | Comunidad TI de Uruguay"
    />
    <meta
      property="og:description"
      content="Únete a nuestra comunidad de desarrolladores."
    />
    <meta property="og:image" content="/img/og_image.png" />
    <meta property="og:url" content="https://www.owu.uy" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Open Web Uruguay | Comunidad TI de Uruguay"
    />
    <meta
      name="twitter:description"
      content="Únete a nuestra comunidad de desarrolladores."
    />
    <meta name="twitter:image" content="/img/og_image.png" />
    <meta name="twitter:site" content="@OpenWebUruguay" />
  </head>
  <body>
    <slot />
  </body>
</html>
